.banner {
    background-image: url("../images/Banner.png");
    height: 60vh; /* Altura usando unidades baseadas na viewport */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner__container {
    max-width: var(--max-width-block);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: flex-start; /* Align items to the left */
}

.banner__titulo {
    font-family: var(--fonte-titulo);
    font-size: 4.75rem; /* Tamanho da fonte usando rem */
    font-weight: 400;
    line-height: 1.2em; /* Line-height baseado em em */
    color: var(--cor-texto-claro);
   width: 50%;
}


.banner__titulo-destaque {
    color: var(--cor-texto-destaque);
    /* V: será que podemos criar variaveis pros tamanhos das fontes? */
    font-size: 4.75rem
}


@media (max-width: 1200px) {
    .banner {
        height: 30vh;
        padding-left: 10vw; /* Padding mais reduzido */
    }

    .banner__titulo {
        font-size: 3rem; /* Tamanho da fonte menor para tablets */
        line-height: 1.2em;
        width: 60%;
    }

    .banner__titulo-destaque {
        font-size: 3rem;
    }
}

@media (max-width: 730px) {
    .banner {
        height: 25vh; /* Altura para celulares */
        padding-left: 5vw; /* Padding menor ainda */
    }

    .banner__titulo {
        font-size: 2rem; /* Tamanho da fonte reduzido para celulares */
        line-height: 1.2em;
   
    }

    .banner__titulo-destaque {
        font-size: 2rem; 
    }
}
