.cartaz {
    margin: 80px 15%;
}

/* Lista de menus */
.menu-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
   
}

.menu-list__item {
    font-family: var(--fonte-texto);
    font-size: 1.25rem; /* Font-size em rem */
    font-weight: 400;
    line-height: 1.875rem; /* Line-height em rem */
}

.menu-list__item-ativo {
    font-weight: 700;
    text-decoration: underline;
}

/* Campo de pesquisa */
.cartaz__pesquisa {
    margin: 2.5rem auto 3rem; /* Margin em rem */
    padding: 0.875rem 1rem; /* Padding ajustado para mais clareza */
    width: 100%;
    max-width: 42.375rem; /* Max-width em rem */
    border-radius: 0.5rem; /* Border-radius em rem */
    border: 0.125rem solid var(--border-color); /* Border em rem */
    display: block;
}

.cartaz__pesquisa::placeholder {
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

/* Título */
.cartaz__titulo {
    font-family: var(--fonte-titulo);
    font-size: 3.0625rem; /* Font-size em rem */
    font-weight: 400;
    line-height: 3.6875rem; /* Line-height em rem */
    margin-bottom: 2.5rem; /* Margin em rem */
}

/* Estilo responsivo para tablets */
@media (max-width: 768px) {
    .cartaz {
        margin: 3rem 2rem; /* Margin ajustada para telas menores */
    }

    .menu-list {
        gap: 0.75rem; /* gap ajustado para tablets */
    }

    .cartaz__pesquisa {
        padding: 0.75rem 1rem; /* Padding ajustado para tablets */
        max-width: 100%; /* Ajusta a largura máxima */
    }

    .cartaz__titulo {
        font-size: 2.5rem; /* Font-size ajustado para tablets */
        line-height: 3rem; /* Line-height ajustado para tablets */
    }

 
}

/* Estilo responsivo para celulares */
@media (max-width: 480px) {
    .cartaz {
        margin: 1.5rem 1rem; /* Margin ajustada para celulares */
    }

    .menu-list {
        flex-direction: column; /* Lista de menu em coluna */
        gap: 0.5rem; /* gap ajustado para celulares */
    }

    .cartaz__pesquisa {
        padding: 0.5rem 0.75rem; /* Padding ajustado para celulares */
    }

    .cartaz__titulo {
        font-size: 2rem; /* Font-size ajustado para celulares */
        line-height: 2.5rem; /* Line-height ajustado para celulares */
    }
}
