/* Combo */
.combo {

    background: var(--cor-de-fundo-combo);
    background-image: url("../images/Banner-Pipoca.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 400px;
}



.combo__container {
    max-width: var(--max-width-block);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.combo__titulo {

    width: 50%;
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xxl); /* Font-size ajustado para variáveis */
    line-height: var(--line-height-xxl); /* Line-height ajustado para variáveis */
    font-weight: 400;
    color: var(--cor-texto-claro);
}

.combo__titulo-destaque {
    color: var(--cor-texto-destaque);
    font-size: var(--font-size-xxl); /* Font-size ajustado para variáveis */
}

/* Estilo responsivo para tablets */
@media (max-width: 1200px) {

    .combo__container {
        padding: 0 var(--padding-xxl);
    }

}

@media (max-width: 730px) {
    .combo__container {
    padding: 0 var(--padding-m);
}
}