/* Combo */
.combo {

    background: var(--cor-de-fundo-combo);
    background-image: url("../images/Banner-Pipoca.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
    padding: var(--padding-xl) 0; /* Padding ajustado para variáveis */
}



.combo__container {
    max-width: var(--max-width-block);
    width: 100%;
    margin: 0 auto;
}

.combo__titulo {

    width: 50%;
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl); /* Font-size ajustado para variáveis */
    line-height: var(--line-height-xxl); /* Line-height ajustado para variáveis */
    font-weight: 400;
    color: var(--cor-texto-claro);
}

.combo__titulo-destaque {
    color: var(--cor-texto-destaque);
    font-size: var(--font-size-xxl); /* Font-size ajustado para variáveis */
}

/* Estilo responsivo para tablets */
@media (max-width: 768px) {
    .combo {
        padding: var(--padding-l) var(--padding-m); /* Padding ajustado para tablets */
    }

    .combo__titulo {
        font-size: var(--font-size-l); /* Font-size ajustado para tablets */
        line-height: var(--line-height-l); /* Line-height ajustado para tablets */
        max-width: var(--max-width-m); /* Max-width ajustado para tablets */
    }
}

/* Estilo responsivo para celulares */
@media (max-width: 480px) {
    .combo {
        padding: var(--padding-s); /* Padding ajustado para celulares */
        height: 20rem; /* Altura ajustada para celulares */
    }

    .combo__titulo {
        font-size: var(--font-size-m); /* Font-size ajustado para celulares */
        line-height: var(--line-height-m); /* Line-height ajustado para celulares */
        max-width: var(--max-width-s); /* Max-width ajustado para celulares */
    }
}