.combo {
    height: 25rem; /* Altura ajustada para rem */
    width: 100%;
    background: var(--cor-de-fundo-combo);
    background-image: url("../images/Banner-Pipoca.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 15rem; /* Padding ajustado para rem */
}

.combo__titulo {
    font-family: var(--fonte-titulo);
    font-size: 4.75rem; /* Font-size ajustado para rem */
    line-height: 4rem; /* Line-height ajustado para rem */
    max-width: 30rem; /* Max-width ajustado para rem */
    font-weight: 400;
    color: var(--cor-texto-claro);
}

.combo__titulo-destaque {
    color: var(--cor-texto-destaque);
    font-size: 4.75rem;
}

/* Estilo responsivo para tablets */
@media (max-width: 768px) {
    .combo {
        padding: 4rem 6rem; /* Padding ajustado para tablets */
    }

    .combo__titulo {
        font-size: 3rem; /* Font-size ajustado para tablets */
        line-height: 3.2rem; /* Line-height ajustado para tablets */
        max-width: 19rem; /* Max-width ajustado para tablets */
    }
}

/* Estilo responsivo para celulares */
@media (max-width: 480px) {
    .combo {
        padding: 2rem 2rem; /* Padding ajustado para celulares */
        height: 20rem; /* Altura ajustada para celulares */
    }

    .combo__titulo {
        font-size: 2.5rem; /* Font-size ajustado para celulares */
        line-height: 2.5rem; /* Line-height ajustado para celulares */
        max-width: 18rem; /* Max-width ajustado para celulares */
    }
}
