.filme-list {
    display: flex;
    flex-flow: row wrap; /* Permite quebra de linha dos itens */
    gap: var(--gap-m); /* Define o espaçamento entre os itens usando variável */
    list-style-type: none;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens ao início do contêiner, útil quando o tamanho dos itens varia */
    box-sizing: border-box; /* Inclui padding e bordas na largura e altura total do item */
    padding: var(--padding-xs); /* Adiciona padding ao contêiner para espaçar os itens do contorno */
}

.filme-list__item {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 32%; /* Permite que o item cresça e encolha conforme necessário, com base na largura inicial */
    max-width: 17rem; /* Define uma largura máxima para os itens */

    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow-card);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-sizing: border-box; /* Inclui padding e bordas na largura e altura total do item */
  
}

.filme-list__imagem {
    width: 100%; /* Ajusta a largura para ocupar toda a largura disponível */
    object-fit: cover; /* Faz com que a imagem cubra o contêiner mantendo a proporção */
}





.filme-list__container {
    padding: var(--padding-s); /* Define padding usando variável */
    font-family: var(--fonte-texto);
    flex-grow: 1; /* Ajusta a altura para considerar o padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* Inclui padding e bordas na altura total do container */
}

.filme-list__linha {
    display: flex;
    justify-content: space-between;
}

.filme-list__descricao {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs); /* Define o espaçamento entre os itens da descrição usando variável */
}

.filme-list__descricao-dimensao,
.filme-list__descricao-idade,
.filme-list__descricao-idade-maior {
    padding: var(--padding-xs) var(--padding-s); /* Define padding usando variáveis */
    border-radius: var(--padding-xs); /* Define border-radius usando variável */
}

.filme-list__descricao-dimensao {
    background-color: var(--cor-de-fundo-input);
}

.filme-list__descricao-idade {
    background-color: var(--cor-faixa-etaria-livre);
}

.filme-list__descricao-idade-maior {
    background-color: var(--cor-faixa-etaria);
}


@media (max-width: 1200px) {
    .filme-list {
       
        justify-content: center;
    
    }

}
