/* Footer */
.footer {
    background-color: var(--cor-de-fundo-footer);
    padding: var(--padding-xl) var(--padding-m); /* Padding ajustado para variáveis */
    color: var(--cor-texto-claro);
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: var(--font-size-m); /* Font-size ajustado para variáveis */
    line-height: 1.5em;
}

.footer__column-text {
    font-weight: 400;
    margin-top: var(--margin-s); /* Margin-top ajustado para variáveis */
}

.footer__columns {
    display: flex;
    justify-content: space-around;
    row-gap: var(--gap-m); /* Row-gap ajustado para variáveis */
    gap: var(--gap-s); /* Gap ajustado para variáveis */
    flex-wrap: wrap; /* Permite que as colunas quebrem para a linha seguinte se necessário */
}

.footer__column-title {
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-m); /* Font-size ajustado para variáveis */
    line-height: 1.2em;
    font-weight: 400;
}

.footer__column-list {
    margin-top: var(--margin-s); /* Margin-top ajustado para variáveis */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs); /* Gap ajustado para variáveis */
}

.footer__column-list li a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    transition: color 0.3s;
}

.footer__column-list-social-media {
    flex-direction: row;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer {
        padding: var(--padding-l); /* Padding ajustado para variáveis */
    }

    .footer__columns {
        gap: var(--gap-l); /* Gap ajustado para variáveis */
    }

    .footer__column {
        flex: 1;
    }

    .footer__column-logo {
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: var(--padding-m) var(--padding-xs); /* Padding ajustado para variáveis */
    }

    .footer__columns {
        gap: var(--gap-m); /* Gap ajustado para variáveis */
        flex-direction: column; /* Reduz o espaçamento entre as colunas para telas menores */
    }

    .footer__column-list-social-media {
        flex-direction: row;
        justify-content: center;
    }
}