.header {
    margin: 0 auto;
    max-width: var(--max-width-block);
}
/* Estilo padrão para desktop */
.nav__list {
    display: flex;
    gap: var(--gap-xl); /* gap em rem para ser responsivo */
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-s) 0; /* Padding em rem */
    list-style-type: none;
    flex-wrap: wrap;
}

.nav__link {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-m); /* Font-size em rem */
    font-weight: 400;
}
.nav__link:hover {
    color: var(--cor-texto-hover);
}

.nav__input {
    width: 100%; /* Width em 100% */
    border-radius: 0.5rem; /* Border-radius em rem */
    border: none;
    padding: var(--padding-s); /* Padding em rem */
    background-color: var(--cor-de-fundo-input);
    background-image: url('../images/location_on.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
}
.nav__input::placeholder {
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-s); /* Font-size em rem */
    font-weight: 400;
}
.menu__toggle {
    display: none;
}

.nav__item_form {
    flex: 2;
}

.nav__icons {
    display: flex;
    gap: var(--gap-l);
}
/* Estilo responsivo para tablets */
@media (max-width: 1200px) {
    .nav__list {
        flex-wrap: wrap;
        row-gap: var(--gap-l); /* gap de linha em rem */
        gap: var(--gap-s); /* gap em rem */
    }
    .nav__item_form {
        flex: 1 1 100%;
        text-align: center;
        order: 1; /* Valor padrão é zero, valores menores aparecem primeiro */
    }

    .header {
        padding: 0 var(--padding-xxl);
    }

}
/* Estilo responsivo para celulares */
@media (max-width: 730px) {
    .nav__link {
        display: none; /* Esconde o menu por padrão */

    }
    .menu__toggle {
        display: block;
        cursor: pointer;
      
    }

    .header {
        padding: 0 var(--padding-m);
    }

    .menu__toggle__icon {
        background-color: transparent;
        border: none;
    }
}