.newsletter {
    background-color: var(--cor-de-fundo-newsletter);
    padding: var(--padding-xxl) 0; /* Padding ajustado para variáveis */
}

.newsletter__container {
    margin: 0 auto;
    max-width: var(--max-width-block); /* Max-width ajustado para variáveis */
    padding: 0 var(--padding-s); /* Padding ajustado para variáveis */
}

.newsletter__titulo {
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-l); /* Font-size ajustado para variáveis */
    line-height: 1.2em;
    text-align: center;
    margin-bottom: var(--margin-l); /* Margin-bottom ajustado para variáveis */
}

.newsletter__formulario {
    display: flex;
    gap: var(--gap-s); /* Gap ajustado para variáveis */
}

.newsletter__input {
    flex-grow: 1;
    height: 3rem; /* Height não possui variável definida */
    padding: var(--padding-s) var(--padding-m); /* Padding ajustado para variáveis */
    border: 2px solid var(--cor-de-fundo-footer);
    border-radius: var(--padding-xs); /* Border-radius ajustado para variáveis */
}

.newsletter__input::placeholder {
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-s); /* Font-size ajustado para variáveis */
    line-height: 1.5em;
    font-weight: 400;
}

.newsletter_button {
    padding: var(--padding-s); /* Padding ajustado para variáveis */
    color: var(--cor-texto-claro);
    background-color: var(--cor-de-fundo-footer);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-s); /* Font-size ajustado para variáveis */
    line-height: 1.2em;
    border: none;
    border-radius: var(--padding-xs); /* Border-radius ajustado para variáveis */
}

/* Estilo responsivo para celulares */
@media (max-width: 480px) {
    .newsletter {
        padding: var(--padding-xs) var(--padding-m); /* Padding ajustado para variáveis */
    }

    .newsletter__formulario {
        flex-direction: column; /* Lista de formulário em coluna */
        justify-content: center;
        align-items: center;
    }

    .newsletter__input {
        width: 100%;
    }
}
